.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
  min-height: auto;

  .text-login {
    padding: 15px 0;
  }

  Button {
    min-width: 70%;
    max-width: 100%;
    // width: 100%;
  }
}
